<main class="vh-100">
    <div class="d-flex buttons-section justify-content-between align-items-center p-3 bg-light border-bottom">
        <div class="ml-5 text-muted fst-italic">
            <h3>hola! usuario 123</h3>
        </div>
        <div>
            <button pButton pRipple type="button" styleClass="p-button-lg" icon="pi pi-palette" class="p-button-rounded p-button-secondary"></button>
            <button pButton pRipple type="button" styleClass="p-button-lg" icon="pi pi-sign-out" class="p-button-rounded p-button-secondary"></button>
        </div>
    </div>
    <div class="outlet-height">
        <router-outlet></router-outlet>
    </div>
</main>
