<div *ngIf="!isLoading" class="card">
    <p-table #dt1 [paginator]="showPaginator" [rows]="rows" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="rowsPerPage" [value]="data" (sortFunction)="customSort($event)" [customSort]="true" [globalFilterFields]="filterColumns">
        <ng-template *ngIf="canFilter" pTemplate="caption">
            <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
                    <button (click)="clear(dt1)" class="btn btn-primary">Limpiar</button>
                    <span class="p-input-icon-left p-ml-auto">
                        <input type="text" [(ngModel)]="searchValue" (input)="dt1.filterGlobal(searchValue, 'contains')" placeholder="Buscar" />
                    </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <ng-container *ngFor="let column of columns">
                    <th class="text-center" pSortableColumn="{{column.key}}">{{column.description}} <p-sortIcon field="{{column.key}}"></p-sortIcon></th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <ng-container *ngFor="let column of columns">
                    <td (click)="onRowSelect({product, key: column.key})" class="text-center">
                        <div *ngIf="column.type === 'icon'">
                            <i class="custom-i pi {{column.icon}}"></i>
                        </div>
                        <div *ngIf="column.type !== 'icon'">
                            <span *ngIf="column.preffix">{{column.preffix}}</span>
                            {{product[column.key]}}
                            <span *ngIf="column.suffix">{{column.suffix}}</span>
                        </div>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
</div>
<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center flex-column">
    <p-message severity="info" text="Cargando los datos..."></p-message>
</div>
<div *ngIf="errorData" class="d-flex justify-content-center align-items-center flex-column">
    <p-message severity="error" text="Error al cargar los datos"></p-message>
</div>