<main class="outlet-height">
    <div class="p-5">
        <div class="title-dashboard text-center">
            <h2 class="fst-italic text-muted">Datos de prueba</h2>
            <div class="fst-italic font-weight-light">
                Al clickear los registros tenes acceso a los detalles de cada uno en graficos estadísticos.
            </div>
        </div>
        <div *ngIf="tableData" class="mt-5">
            <app-dynamic-table [columns]="columns" [data]="tableData" (rowClicked)="onRowClicked($event)"></app-dynamic-table>
        </div>
    </div>
</main>
