.login-card {
    max-width: 30rem;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--card-background);
    color: var(--text-color);
}

.bg-login {
    background-color: var(--background-color);
}