<main class="bg-login outlet-height d-flex justify-content-center align-items-center p-5">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card login-card shadow-lg p-4 col-12 col-sm-8 col-md-6 col-lg-4">
            <h2 class="text-center mb-4 text-muted fst-italic">Inicie sesión</h2>
            <form [formGroup]="loginForm!">
              <div class="mb-3">
                <label for="email" class="form-label fst-italic">Email</label>
                <input id="email" type="text" class="form-control" formControlName="email">
              </div>
              <div class="mb-4">
                <label for="password" class="form-label fst-italic">Contraseña</label>
                <input class="" id="password" type="password" class="form-control" formControlName="password">
              </div>
              <ng-container *ngIf="failedLogin">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <p-message severity="error" text="Email o Contraseña son incorrectos."></p-message>
                </div>
              </ng-container>
              <div class="d-flex justify-content-center align-items-center">
                  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                      <button (click)="loginPerson()" type="submit" class="btn btn-primary w-100" [disabled]="!formIsValid">Ingresar</button>
                  </div>
              </div>
            </form>
          </div>
    </div>
</main>