/* You can add global styles to this file, and also import other style files */
@import "normalize-scss/sass/normalize";

body {
    margin: 0;
    font-size: 16px;
}

.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outlet-height {
    min-height: calc(100vh - 6rem);
}